<div class="error-msg row justify-content-center">
  <div class="col-7 text-center">
    <h2>{{errorMsg}}</h2>
    <h4>{{errorURL}}</h4>
  </div>
  <div class="col-7 text-center mt-3">
    <a href="/">Return to homepage</a>
  </div>
</div>