<form form action="/shortened" method="POST" class="row justify-content-center">
  <div class="col-7 text-center">
    <input type="URL" class="form-control" id="inputURL" placeholder="Input URL here" name="inputURL" required>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-outline-primary mt-3" type="submit">Shorten</button>
    </div>
  </div>
</form>


